{% extends "base.html" %}
{% load static %}


{% block content %}
<section class="section contact" data-section="section6">
  <div class="container">
    <div class="row">
      <div class="col-md-30">
        <div class="section-heading">
          <h2>Send password reset link</h2>
        </div>
      </div>
      <div class="col-md-6">

      <!-- Do you need a working HTML contact-form script?

                  Please visit https://templatemo.com/contact page -->

        <form  method="post" style="color: #fff8f0; text-decoration: none;">
          {% csrf_token %}
          {{ form.as_p }}
              <fieldset>
                <button type="submit" class="button" value='reset'>Submit</button>
              </fieldset>
            </div>
          </div>
        </form>
      </div>
      </div>
  </div>
</section>

<a href="{% url 'dashboard' %}">Back to dashboard</a>

{% endblock content %}
