
{% extends "base.html" %}
{% load static %}


{% block content %}

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">

      <video autoplay muted loop id="bg-video">
          <source src="{{MEDIA_URL}}{{object.image_file}}"  />
      </video>

      <div class="video-overlay header-text">
          <div class="caption">
              <h6>{{name}}</h6>
              <h></h2>
              <!--<div class="main-button">
                  <div class="scroll-to-section"><a href="">Discover more</a></div>
              </div>-->
          </div>
      </div>
  </section>

  <section class="section video" data-section="section5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <div class="left-content">

            <h4><em>{{name}}</em></h4>
            <p> {{body}}
            <br><br>Source : {{url}}</p>
            <div class="main-button"><a ONCLICK="ShowAndHide()" >Add to Library</a></div>
              <table ID="SectionName" STYLE="display:none" >
                  <tr>
                    <th></th>
                  </tr>
                  {% for lib in library_names%}
                  <tr>
                    <th><a href="http://127.0.0.1:8000/add_to_lib/{{lib}}/{{id}}"style="color: #000000; text-decoration: none;">{{lib}}</a></th>
                  </tr>
                    {% endfor %}

                </table>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="section courses" data-section="section4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Related</h2>
          </div>
        </div>
        <div class="owl-carousel owl-theme">
          {% for art in similar%}
          <div class="item">
              {%if art.1 == "www.noimage.com" %}
              <a  href="http://127.0.0.1:8000/article/{{art.0}}">
                  <img src="{{MEDIA_URL}}default.jpg" alt="wrong ">
                 {% else %}
                   <a  href="http://127.0.0.1:8000/article/{{art.0}}">
                   <img src="{{art.1}}" alt=" ">
                   {% endif %}</a>
            <div class="down-content">
              <h4>{{art.0}}</h4>

            <div class="author-image">
    <!--            <img src="{% static 'assets/images/author-01.png' %}" alt="Author 1">-->
              </div>
              <div class="text-button-pay">
                <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          {% endfor%}
  </section>



  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p><i class="fa fa-copyright"></i> Copyright 2020 by Grad School

           | Design: <a href="https://templatemo.com" rel="sponsored" target="_parent">TemplateMo</a></p>
        </div>
      </div>
    </div>
  </footer>
  <SCRIPT>
function ShowAndHide() {
    var x = document.getElementById('SectionName');
    if (x.style.display == 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</SCRIPT>
  {% endblock content %}
