{% extends "base.html" %}
{% load static %}


{% block content %}
  <!-- ***** Main Banner Area Start ***** -->
  <section class="section contact" data-section="section6">
    <div class="container">
      <div class="row">
        <div class="col-md-30">
          <div class="section-heading">
            <h2>Submit Article here</h2>
          </div>
        </div>
        <div class="col-md-6">

        <!-- Do you need a working HTML contact-form script?

                    Please visit https://templatemo.com/contact page -->

          <form id="contact" action="submition" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-7">
                  <fieldset>
                    <input name="url" type="text" class="form-control" id="name" placeholder="Url" required="">
                  </fieldset>
                </div>
                <div class="col-md-10">
                  <fieldset>
                    <input name="title" type="text" class="form-control" id="email" placeholder="Title" required="">
                  </fieldset>
                </div>
              <div class="col-md-12">
                <fieldset>
                  <textarea name="body" rows="6" class="form-control" id="message" placeholder="Body" required=""></textarea>
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="button">Submit</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
        </div>
    </div>
  </section>





  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p><i class="fa fa-copyright"></i> Copyright 2020 by Grad School

           | Design: <a href="https://templatemo.com" rel="sponsored" target="_parent">TemplateMo</a></p>
        </div>
      </div>
    </div>
  </footer>

  {% endblock content %}
