{% extends "base.html" %}
{% load static %}


{% block content %}
<style>
#myProgress {
  width: 50%;
  background-color: #ddd;
 visibility: hidden;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #a4aa04;
   visibility: hidden;

}
#Demo{
    color: white;
}
</style>
  <!-- ***** Main Banner Area Start ***** -->
  <section class="section contact" data-section="section6">
    <div class="container">
      <div class="row">
        <div class="col-md-30">
          <div class="section-heading">
            <h2>Submit Article here</h2>
          </div>
        </div>
        <div class="col-md-6">

        <!-- Do you need a working HTML contact-form script?

                    Please visit https://templatemo.com/contact page -->
          {% if  not name%}
          <form id="contact" action="submition" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-7">
                  <fieldset>
                    <input name="url" type="text" class="form-control" id="name" placeholder="Url" required="">
                  </fieldset>
                </div>
                <!--<div class="col-md-10">
                  <fieldset>
                    <input name="title" type="text" class="form-control" id="email" placeholder="Title" required="">
                  </fieldset>
                </div>
              <div class="col-md-12">
                <fieldset>
                  <textarea name="body" rows="6" class="form-control" id="message" placeholder="Body" required=""></textarea>
                </fieldset>
              </div>-->
              <div class="col-md-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="button">Submit</button>
                </fieldset>
              </div>
            </div>
          </form>
            {% elif name %}
            <form id="contact2" action="submition" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-7">
                    <fieldset>
                      <textarea name="url" type="text" class="form-control" id="name" placeholder="Url" required="">{{url}}</textarea>
                    </fieldset>
                  </div>
                  <div class="col-md-7">
                      <fieldset>
                        <textarea name="image_url" type="text" class="form-control" id="name" placeholder="Url" required="">{{image_url}}</textarea>
                      </fieldset>
                    </div>
                  <div class="col-md-10">
                    <fieldset>
                      <textarea name="title" type="text" class="form-control" id="email" placeholder="{{name}}" required="">{{name}}</textarea>
                    </fieldset>
                  </div>
                <div class="col-md-12">
                  <fieldset>
                    <textarea name="body" rows="6" class="form-control" id="message" placeholder="" required="">{{body}}</textarea>
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <button type="submit" id="form-submit" onclick="ShowAndHideBar()" oclass="button">SUBMIT</button>
                  </fieldset>
                </div>
              </div>
              <div class="col-md-12">
              <div id="myProgress" display="none" >
            <div id="myBar" display="none"></div>
          </div>
          <p id="Demo"></p>
          </div>
            </form>
            {% endif %}
        </div>

        <div class="col-md-12">
        <div id="myProgress" display="none" >
      <div id="myBar" display="none"></div>
    </div>
    </div>
        </div>
    </div>

  </section>






  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p><i class="fa fa-copyright"></i> Copyright 2020 by Grad School

           | Design: <a href="https://templatemo.com" rel="sponsored" target="_parent">TemplateMo</a></p>
        </div>
      </div>
    </div>
  </footer>
  <script>
var i = 0;
function move() {
  if (i == 0) {
    i = 1;
    var elem = document.getElementById("myBar");
    var width = 1;
    var id = setInterval(frame, 10);
    function frame() {
      if (width >= 100) {
        clearInterval(id);
        i = 0;
      } else {
        width=width+i/2;
        elem.style.width = width + "%";
        if (width>=0) {
          document.getElementById("Demo").innerHTML = "Analysing Text";
        }
        if (width>=10) {
          document.getElementById("Demo").innerHTML = "Finding similar articles..";
        }
        if (width>=40) {
          document.getElementById("Demo").innerHTML = "Extracting Entities..";
        }
        if (width>=70) {
          document.getElementById("Demo").innerHTML = "Associating Entities with Wikipedia entries.. ";
        }
        if (width>=90) {
          document.getElementById("Demo").innerHTML = "Done";
        }

      }
    }
  }
}

function ShowAndHideBar() {
  var x = document.getElementById('myBar');
  if (x.style.visibility == 'visible') {
      x.style.visibility = 'hidden';
  } else {
      x.style.visibility = 'visible';
      y= document.getElementById('myBar');
      y.style.visibility = 'visible';
      move()
  }
}

</script>

  {% endblock content %}
